.BoardSetup
    .board-container
        display: flex

        .numbers-container
            min-width: 50px // TODO: hard-coded; change later

        .draggable-number
            font-size: 30px
            border: 3px solid white
            border-radius: 50%
            
            width: 1.2em
            height: 1.2em
            text-align: center
        
        .map-chunk
            height: 100px
            width: 300px
            border: 1px solid black