@use 'vars'
    
body
    font-family: Arial, Helvetica, sans-serif
    color: white

h1
    font-size: 32px
    padding: 10px 20px

.btn
    margin: 10px
    padding: 10px

    border: none
    cursor: pointer
    background-color: vars.$light-teal

    &:hover
        background-color: vars.$green-yellow

.App
    height: 100vh

    background-color: vars.$dark-teal
    background-image: url('./media/Cryptid_foliage.png')
    background-repeat: no-repeat
    background-position-x: 100%
    background-position-y: 100%