@use 'vars'
    
.SetupPage
    margin-left: 30px
    padding-bottom: 50px

    .player-setup
        margin-left: 10px
        // background-color: white

    .player-select-container
        display: flex
        justify-content: space-between

        width: 420px

        .MuiSelect-select
            background-color: white
            border-radius: 5px

        .MuiTextField-root
            background-color: white
            border-radius: 5px
        
        

