@use 'vars'
    
.SetupPage

    .select-block
        display: flex
        justify-content: space-between
        align-items: center

        margin: 5px
        width: 170px
        
        select, option
            background-color: lightgray
            color: dimgray
            padding: 5px 10px
    
        .player
            background-color: vars.$light-teal
            color: black
        .bot
            background-color: vars.$green-yellow
            color: black
        

