html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

hr {
  margin: 20px 30px;
}

h1 {
  font-size: 32px;
  padding: 10px 20px;
}

h3 {
  font-size: 20px;
  font-style: italic;
  padding: 7px 20px;
}

canvas {
  background-color: white;
  border-radius: 3px;
}

.btn {
  margin: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #79C7C2;
}
.btn:hover {
  background-color: #DBE388;
}
.btn:active {
  filter: brightness(1.2);
}

.App {
  padding-bottom: 50px;
  background-color: #3D6A6D;
  background-image: url("./media/Cryptid_foliage.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
}

.LandingPage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LandingPage .background {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 600px;
  background-color: whitesmoke;
  background-image: url("./media/Cryptid_house.png");
  background-repeat: no-repeat;
}

.SetupPage {
  margin-left: 30px;
}
.SetupPage .player-setup {
  margin-left: 10px;
}
.SetupPage .select-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 170px;
}
.SetupPage .select-block select, .SetupPage .select-block option {
  background-color: lightgray;
  color: dimgray;
  padding: 5px 10px;
}
.SetupPage .select-block .player {
  background-color: #79C7C2;
  color: black;
}
.SetupPage .select-block .bot {
  background-color: #DBE388;
  color: black;
}

.BoardSetup .placement-container {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.BoardSetup .placement-container .unplaced-map-pieces-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.BoardSetup .placement-container .unplaced-map-pieces-container .unplaced-map-piece {
  border: 1px dashed black;
  box-shadow: 0px 3px 6px -3px black;
  border-radius: 5px;
  margin: 3px 5px;
  cursor: grab;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BoardSetup .placement-container .unplaced-map-pieces-container .unplaced-map-piece p {
  font-size: 24px;
  margin-top: -1em;
  text-shadow: -2px 1px 0px black, 2px 1px 0px black;
  font-weight: bold;
}
.BoardSetup .placement-container .unplaced-map-pieces-container .unplaced-map-piece img {
  height: 40px;
}
.BoardSetup .placement-container .structures-container {
  display: flex;
}
.BoardSetup .placement-container .structures-container .structure {
  margin: 5px;
}
.BoardSetup .chunks-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 930px;
}
.BoardSetup .chunks-container .map-chunk .chunk-image {
  cursor: grab;
  transform: rotate(0deg);
  height: 160px;
  width: 250px;
}
.BoardSetup .chunks-container .map-chunk .chunk-image:hover {
  transform: scale(1.02);
  filter: brightness(1.2);
}
.BoardSetup .chunks-container .map-chunk .draggedOver {
  transform: scale(1.02);
  filter: brightness(1.2);
}
.BoardSetup .chunks-container .map-chunk .chunk-image-placeholder {
  height: 160px;
  width: 250px;
  cursor: pointer;
}
.BoardSetup .chunks-container .map-chunk .chunk-image.rotated {
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  transform: rotate(180deg);
}

.PlayingBoard {
  margin: 20px 20px;
}
.PlayingBoard canvas {
  padding: 3px;
}

/*# sourceMappingURL=App.css.map */
